<!--<header>-->
<!--  <div class="toggle" (click)="navOpened()">-->
<!--    <i class="fas fa-2x" [ngClass]="{'fa-bars':!isNavOpen, 'fa-times':isNavOpen}"></i>-->
<!--  </div>-->
<!--  <nav>-->
<!--    <ul class="nav nav&#45;&#45;hightlighted" [ngClass]="{'nav__open':isNavOpen}">-->
<!--      <li class="nav__brand"><a href="#"> Braian <span class="gray">S</span>ilva</a></li>-->
<!--      <li class="nav__item"><a (click)="scroll('about')">About</a></li>-->
<!--      <li class="nav__item"><a (click)="scroll('skill')" #skill>Skill</a></li>-->
<!--      <li class="nav__item"><a (click)="scroll('portfolio')" #portfolio>Portfolio</a></li>-->
<!--      <li class="nav__item"><a (click)="scroll('contato')" #contato>Contato</a></li>-->
<!--    </ul>-->
<!--  </nav>-->
<!--</header>-->

<!--<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">-->
<!--  <mat-icon>more_vert</mat-icon>-->
<!--</button>-->
<!--<mat-menu #menu="matMenu">-->
<!--  <button mat-menu-item style="background-color: #3c6fbd;color: white">-->
<!--    &lt;!&ndash;    <mat-icon>about</mat-icon>&ndash;&gt;-->
<!--    <span><a (click)="scroll('about')">About</a></span>-->
<!--  </button>-->
<!--  <button mat-menu-item>-->
<!--    &lt;!&ndash;    <mat-icon>voicemail</mat-icon>&ndash;&gt;-->
<!--    <span><a (click)="scroll('skill')" #skill>Skill</a></span>-->
<!--  </button>-->
<!--  <button mat-menu-item>-->
<!--    &lt;!&ndash;    <mat-icon>notifications_off</mat-icon>&ndash;&gt;-->
<!--    <span><a (click)="scroll('portfolio')" #portfolio>Portfolio</a></span>-->
<!--  </button>-->

<!--  <button mat-menu-item>-->
<!--    &lt;!&ndash;    <mat-icon>notifications_off</mat-icon>&ndash;&gt;-->
<!--    <span><a (click)="scroll('contato')" #contato>Contato</a></span>-->
<!--  </button>-->
<!--</mat-menu>-->

