<div class="container-fluid w-100 m-0 about" id="about" #about>

  <div class="row row-max">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-8 align-self-center text-center">
      <img class="img-fluid" src="assets/img/main_page_img.jpg" alt="Profile">
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 align-self-center center-text">
      <h1 class="title">_</h1>
      <h1 class="title">Nawab Hussain</h1>
      <ngx-typed-js [strings]="jobs" [typeSpeed]="80" [loop]="true" class="description">
        <span class="typing"></span>
      </ngx-typed-js>
      <p class="">
        <a href="https://www.linkedin.com/in/nawab-hussain/" target="_blank" rel="noopener noreferrer"><i
          class="fab fa-linkedin fab-icon pr-2"></i>
        </a>
        <a href="https://github.com/nawabhussain/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github-square fab-icon"></i>
        </a>
        <a href="https://medium.com/@dergeekbrigade" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-medium fab-icon"></i>
        </a>

      </p>

    </div>
  </div>
</div>
