@import "mixins";
@import "variables";

.contato {
  padding: 10px;
  background-color: $gray21;
  color: $white;

  &__title {
    margin-bottom: 40px;
  }
}

.list {
  display: flex;

  &__item {
    padding: 20px;
  }
}

@include mq-between(xs,md) {
  .btn-secondary {
    width: 200px;
    height: 70px;
    padding: 6px;
    font-size: 28px;
    transition: 1s ease;
  }
}

.fab-icon {
  color: #7a7979;
  font-size: xx-large;
  padding-right: 16px;
  padding-top: 16px;
}
