<footer class="contato" id="contato">
  <div class="row align-self-center text-center">
    <p>
      <a href="https://www.linkedin.com/in/nawab-hussain/" target="_blank" rel="noopener noreferrer"><i
        class="fab fa-linkedin fab-icon pr-2"></i>
      </a>
      <a href="https://github.com/nawabhussain/" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github-square fab-icon"></i>
      </a>
    </p>
  </div>
  <div class="row align-self-center text-center">&copy; Copyright 2019</div>
</footer>
